*{
    padding: 0px;
    margin: 0px;
}

#site-container {
    width: 960px;
    height: auto;
    margin: 20px auto;
    border: 1px solid #000;
padding-top : 5px;
padding-bottom : 5px;
}

#header {
    width: 960px;
    height: 137px;
    background:url('../image/starwars.jpg');
    margin: 5px auto;
    padding-top : 150px;
    padding-bottom : 50px;
}


#menu-content{
    width: 950px;
    height: auto;
    margin: auto;
}

#menu {
    float: left;
    width: 300px;
    height: auto;
}

#content {
    width: 610px;
    height: auto;
    border: 1px solid #99cc66;
    float: right;
    background: #99cc66;
    padding: 15px;
}

#footer {
    width: 950px;
    height: 70px;
    margin-top: 5px auto;
    margin-bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    background: #669900;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.floating {
    clear:both;
    height: 0px;
    line-height: 0px;
}









.judul_1 {
    display : block;
    height : 40px;
    background : rgb(67, 9, 201);
    font : 20pt "Arial";
    color : rgb(161, 31, 31);
    text-align:center;
    border:1px solid blue ;
}

.judul_2 {
    display : block;
    border-bottom:2px solid blue ;
    font : 26pt "Script MT Bold";
    color:rgb(151, 5, 5);
    padding-bottom: 10px;
}

.img{
    width: 250px;
    height: 200px;
    border: 5px solid rgb(192, 31, 31);
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

#header a{
    font: 28pt 'matura mt script capitals';
    text-decoration: none;
    color: red;
}

#header p{
    font: 28pt 'matura mt script capitals';
    color: rgb(4, 0, 255);
}

#menu ul{
    list-style: none;
}

#menu li a{
    display: block;
    height: 30px;
    background: rgb(161, 31, 31);
    font: 16pt "Script MT Bold";
    color: rgb(21, 21, 121);
    text-decoration: none;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    padding-left: 20px;
}

#menu li a:hover{
    background: rgb(116, 114, 214);
    color: rgb(202, 21, 21);
}

#content p {
    margin-top: 20px;
}
body{
    background: rgb(4, 105, 238);
    font: 10pt verdana;
}
